[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/upagge/uBlogger.git
[submodule "blakeroy.com/themes/uBlogger"]
	path = blakeroy.com/themes/uBlogger
	url = https://github.com/upagge/uBlogger.git
[submodule "themes/Blogger"]
	path = themes/Blogger
	url = https://github.com/upagge/uBlogger.git
